@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Cordel';
    src: url('../fontes.cordel/Cordel\ Encarnado.otf') format('opentype');
    font-weight: normal;

}
:root{
    --font1: Verdana, 'Geneva', Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriacha', cursive;
    --font4:'Cordel', cursive;    
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;/* Deixa tudo com letras maiúsculas porém a primeira letra da palavra fica um pouco maior*/
    font-family: var(--font4);
    font-size: 7vw;
    /* text-transform: uppercase; transforma o texto em maiúsculas*/
}
header > p{
    font-size: 1em;
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: dimgrey;
    color: white;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.068);
}
footer{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    padding-right: 10px;
}